{% extends 'base.html.twig' %}

{% block title %}All{% endblock %}

{% block body %}
    <h1 class="title has-text-centered my-5">All quizzes</h1>

    <div class="columns is-multiline">
        {% for quiz in quizzes %}
        <div class="column is-one-third">
            <a href="{{ path('quiz_single', { id: quiz.id }) }}">
                <div class="columns card card-body card-content my-1">
                    <div class="column">
                        <p class="title is-4">{{ quiz.name }}</p>

                        {% if quiz.description %}
                            <p>{{ quiz.description }}</p>
                        {% endif %}
                    </div>

                    <div class="column has-text-right">
                        <p class="subtitle is-5">{{ quiz.questions|length }} questions</p>
                        <p>
                            Created by <b>{{ quiz.author.username }}</b>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
